<div id="homeWrap">

  <div id="homeBanner">
    <h1>Word-by-Word </h1>
    <ul>
      <li>An easy-to-use gamified educational tool to help students build foundational language skills ... </li>
      <li>Project is currently undergoing extensive construction and expansion, but feel free to regsiter and give our <em> very </em> release a try while we develop! </li>
    </ul>
  </div>

  <div id="homeLogin">
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.label :email, html: {class: 'txtLbl'} %>
      <%= f.text_field :email, html: {class: 'txtIn'} %>
      <br>
      <%= f.label :password, html: {class: 'txtLbl'} %>
      <%= f.password_field :password, html: {class: 'txtIn'} %>
      <br>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>

      <br>
      <%= f.submit 'Sign in' %>
      <%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %>
  </div>

  <div id="homeReg">
    <a href='/users/sign_up'> <h3>Sign up</h3> </a>
  </div>

</div>
