<!-- <%= render  '/shared/nav_bar'%>

<%= react_component 'HomeInfo' %>

<%= react_component 'Footer'%> -->




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav id="homeNav" class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Start</span> word-by-word
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  id="ssss" class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 id="homeBanner" class="brand-heading">Word-By-Word</h1>
                        <p class="intro-text">A free, easy to use, and engaging grammar resource for students and teachers.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div id="homeAbout" class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Word-by-Word</h2>
                <p>Word by word by word is an incredibly simple and interactive alterative to the drudgery of sentence diagramming and grammar exercies. Intended as an instructional support or intervention tool for all ages, word-by-word supports teachers and students with a variety of challenges and quantitative data to track skill growth. </p>
                <p></p>
                <p>-</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Exisiting User Login</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true %>
                      </div>

                      <div class="field">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>

                      <div class="actions">
                        <%= f.submit "Log in" %>
                      </div>
                    <% end %>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div id="homeSignUp" class="">
          <h2>Sign up</h2>
            <div id="sp">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="homeLoginContainer">
                <div class="field">
                <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
                </div>

                <div class="field">

                  <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name" %>
                </div>

                <div class="field">
                  <%= f.label :status %><br />
                  <%= f.select :status, ['Student', 'Teacher'] %>
                </div>
              </div>
                <div class="homeLoginContainer">

                  <div class="field">

                    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                  </div>

                  <div class="field">

                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                  </div>

                  <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
                  </div>
                </div>
                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.min.js"></script>

</body>

</html>
