<%= react_component 'NavBar', {currentUser: current_user} %>
<%= react_component 'HomeInfo' %>

<% if !current_user %>
  <div id="homeLogin" >
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit 'Sign in' %>
    <% end %>
  </div>
<% end %>


<%= react_component 'Footer'%>
